/* 
COLOR CHEATSHEET
caregiver//
background: rgb(255, 243, 240);
button: rgb(179, 132, 132);
nav: rgb(238, 163, 135);
*/
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title-text {
  font-size: 28px;
  margin-bottom: 2%;
}
.big-headline {
  font-size: 40px;
  font-weight: 900;
  color:rgb(59, 92, 201);
}
.home-headline {
  font-size: 35px;
  font-weight: 500;
  color: black;
}
div {
  border-radius: 18px;
}
.homepage {
  width: 90%;
  margin: auto;
  margin-top: 2%;
}
.home-left {
  margin-top: 3%;
}
.small-nav {
  font-size: 120%;
  font-weight: 500;
  margin-left: 10%;
}
.main-nav {
  font-size: 250%;;
  font-weight: 900;
  color: white
}
.login-page {
  font-size: large;
  text-align: center;
  width: 55%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color:rgb(255, 255, 255);
}
.login-page h1 {
  font-size: 160%;
  color:rgb(57, 163, 244);
  margin-bottom: 5%;
}
.login-page h3 {
  margin-top: 3%;
  color:rgb(57, 163, 244);
  font-weight: 700px;
}
.login-page input[type=text] {
  width: 50%;
  border-radius: 10px;
  border-width: 1px;
}
.login-page input[type=submit] {
  width: 20%;
  margin-top: 3%;
}
.login-page input[type=radio] {
  margin-top: 5%;
  width: 5%;
}
.logout-question p {
  float: right;
  color:rgb(57, 163, 244);
  font-size: small;
  padding: 8px;
  margin-right: 5px;;
}
.select-user-type button {
  margin: 2%;
}
.question {
  width: 50%;
  margin:auto;
  margin-top: 5%;
  background-color: white;
  border-color:rgb(109, 220, 135);
  border-width: 1px;
  border-style:solid;
  border-radius: 20px;
  padding: 4%;
}
.question h6 {
  font-weight: 500;
  color:rgb(113, 174, 227);
}
.job-list {
  width: 80%;
  margin:auto;
  margin-top: 5%;
  margin-bottom: 2%;
}
.job button {
  width: 100%;
  margin: auto;
}
.job-list h1 {
  font-size: 200%;
  font-weight: 800;
  margin-left:2%;
}
.job-form h1 {
  font-size: 200%;
  font-weight: 800;
}
.job {
  width: 40%;
  float: left;
  margin: 2%;
  padding: 2%;
  border-color:rgb(57, 163, 244);
  border-style:solid;
  border-width: 1px;
}
.job h2 {
  font-size: 24px;
  font-weight: 700;
}
.job h3 {
  font-size: 18px;
  font-weight: 700;
}
.job h4 {
  font-size: 14px;
  color:rgb(131, 131, 131);
}
.job p {
  font-size: 17px;
}
.job .dates {
  margin-top: 7%;
}
.job .button {
  margin-left: 1%;
}
.errors {
  background-color: rgb(255, 235, 235);
  border-radius: 20px;
  width: 70%;
  margin:auto;
}
.job-form {
  margin: 10%;
  margin-top: 0%;
  width: 80%;
  text-align: center;
  padding: 1%;
  font-size: 100%;
  float:left;
}
.job-form input[type=text] .job-title {
  margin: 1%;
  width: 100%;
}
.job-form input[type=text] .salary {
  margin: 1%;
  width: 50px;
}
.job-form .button .create-job{
  width: 100%;
  margin: 1%;
}
.job-form .button {
  width: 30%;
  margin: 1%;
}
.form-section {
  margin: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 100%;
}
.time-field {
  text-align: center;
  width: 200px;
}

.profile-info {
  float: left;
  margin: 5%;
  width: 95%;
}
.profile-info button {
  margin-right: 2%;
}
.profile-info h1 {
  font-size: 30px;
}
.profile-info h3 {
  font-size: 20px;
}
.profile-info h4 {
  font-size: 20px;
}
.other-profile h1 {
  font-size: 30px;
}
.other-profile h3 {
  font-size: 20px;
}
.other-profile h4 {
  font-size: 20px;
}
.profile-info img {
  width:100px;
  height: 100px;;
  border-radius: 50%;
}
.other-profile {
  width: 60%;
  margin:auto;
  margin-top: 5%;
  text-align: center;
}
.upcoming-job {
  margin: 2%;
  margin-left: 0px;
  margin-bottom: 5%;
  padding: 5%;
}
.upcoming-job p {
  float: left;
}
.upcoming-job h3 {
  font-size: 20px;
}
.upcoming-job h6 {
  color:rgb(24, 143, 48);
  font-weight: 700;
}
.upcoming-jobs {
  float: right;
  width: 95%;
  margin: 5%;
  padding: 3%;
}
.upcoming-jobs img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  margin-right:2%;
}
.upcoming-jobs h2 {
  margin-left: 2%;
  font-size: 25px;
}
.profile-link {
  padding: 2%;
  width: 50%;
}
.alerts-page {
  margin: 5%;
  margin-top: 0%;;
}
.alert {
  padding: 2%;
  width: 40%;
  margin-bottom: 2%;
  margin-right: 2%;
  float: left;
}
.job .alert {
  width: 90%;
}
.bad {
  background-color:rgb(240, 219, 211);
}
.good {
  background-color:rgb(211, 240, 218);
}
/* .footer {
  bottom: 0px;
  width: 100%;
  height: 10%;
} */
.phone-question form {
  margin-top: 3%;
}
.phone-question input[type=text] {
  width: 70%;
  border-radius: 15px;
}
.phone-question input[type=submit] {
  margin-left: 1%;
  width: 20%;
  border-radius: 15px;
}
.green-text {
  color:rgb(24, 143, 48);
  font-weight: 700;
}
/* .blog-showcase {
  margin-top: 10%;
}
.blog-showcase .column {
  background-color:rgb(191, 226, 240);
  margin: 2%;;
}
.blog-showcase .columns {
  width: 80%;
  margin: auto;
}
.blog-showcase .box {
  width: 40%;
  margin: 10%;
}
.blog-showcase .button {
  margin-left: 25%;
} */



/*

.edit-profile-form input[type=text] {
  font-size: 100%;
  color: black;
  border-style: solid;
  border-color: black;
}
.edit-profile-form textarea {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 80%;
  width: 90%;
  margin: auto;
  color: black;
  border-style: solid;
  border-color: black;
}



.job-page {
  margin: 5%;
}



.job-form input.date-month {
  width: 8%;
}
.job-form input.year {
  width: 15%;
}
.job-form input.time {
  width: 26%;
  margin-left: 1%;
}
.create-job-button {
  float: right;
  margin: 5%;
  width: 40%;
  background-color:rgb(159, 206, 152);
  text-align: center;
  padding: 2%;
}



.alert button {
  margin-right: 20%;

} 

.positive-message {
  width: 70%;
  padding: 1%;
  margin-top: 1%;
  background-color:rgb(242, 255, 240);
  border-width: 3px;
  border-color: rgb(134, 179, 132);
  border-style:solid;
}

.red-message {
  width: 70%;
  padding: 1%;
  margin-top: 1%;
  background-color:rgb(249, 195, 185);
  border-radius: 20px;

} */
