/* 
COLOR CHEATSHEET
caregiver//
background: rgb(255, 243, 240);
button: rgb(179, 132, 132);
nav: rgb(238, 163, 135);
*/

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(255, 243, 240);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* GENERAL */
div {
  border-radius: 18px;
}
button,input[type=submit] {
  border-radius: 18px;
  border-style: none;
  padding: 3%;
  color: white;
  font-weight: 700;
  font-size: 16px;
  background-color: rgb(179, 132, 132);
}
input[type=submit] {
  background-color:rgb(255, 243, 240);
  color: rgb(179, 132, 132);
}
input[type=text] {
  width: 200px;
  border-style: none;
  border-radius: 10px;
}
label {
  padding: 2%;
}

/* NAVBAR STYLING */
.navbar {
  padding: 3%;
  background-color: rgb(238, 163, 135);
  color: black;
  border-radius: 0;
}
.employer-nav {
  background-color: skyblue;

}
.caregiver-nav {
  background-color:rgb(114, 140, 216);
}
.nav-item {
  font-size: 100%;
  font-weight: 700;
  padding: 1px;
  margin:3%;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.main-nav {
  margin-left: 0px;
  font-size: 200%;;
  font-weight: 900;
  color: white
}
.active-item {
  font-size: large;
}

/* FORMS */
.login-page {
  font-size: large;
  text-align: center;
  width: 55%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
  padding-bottom: 8%;
  padding-top: 3%;
  background-color: rgb(227, 173, 157);
}
.logout-question {
  float: right;
  font-size: small;
  padding: 0px;
  margin-bottom: 3px;
}

/* PROFILE STYLING */

.profile-info {
  font-size: larger;
  float: left;
  margin: 5%;
  width: 30%;
  background-color: white;
  padding: 3%;
  border-width: 3px;
  border-color: rgb(238, 163, 135);;
  border-style:solid;
}

.profile-jobs {
  float: right;
  width: 30%;
  margin: 5%;
  padding: 3%;
  background-color:white;
  border-width: 3px;
  border-color: rgb(238, 163, 135);;
  border-style:solid;
}
.profile-job {
  margin: 2%;
  margin-bottom: 5%;
  background-color: rgb(168, 232, 200);
  padding: 5%;

}

/* IMAGES */
.profile-image {
  width:100px;
  height: 100px;;
  border-radius: 50%;

}

/* CALENDAR */
.job-page {
  margin: 5%;
}
.job-list {
  width: 38%;
  margin:5%;
  float: left;
}
.job {
  margin-bottom: 3%;
  padding: 2%;
  background-color:white;
  border-width: 3px;
  border-color: rgb(238, 163, 135);
  border-style:solid; 
}
.job-form {
  float: right;
  margin: 5%;
  width: 38%;
  background-color:rgb(227, 173, 157);
  text-align: center;
  padding: 2%;
}
.job-form input.date-month {
  width: 8%;
}
.job-form input.year {
  width: 15%;
}
.job-form input.time {
  width: 26%;
  margin-left: 1%;
}

/* ALERTS */
.alerts-page {
  margin: 5%;
}
.alert {
  margin-bottom: 3%;
  padding: 1%;
  background-color:white;
  border-width: 3px;
  border-color: rgb(179, 132, 132);
  border-style:solid; 
}
.alert button {
  margin-right: 20%;

} 

/* MESSAGES */

.positive-message {
  width: 70%;
  padding: 1%;
  margin-top: 1%;
  background-color:rgb(242, 255, 240);
  border-width: 3px;
  border-color: rgb(134, 179, 132);
  border-style:solid;
}


